@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*Utilities section*/

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    line-height: 1.6;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    color: rgb(0, 0, 0);
}
/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
      
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
    }
  }
  /*787.36px / 16px = 49.21em*/
  @media(max-width:49.21em){
      html{}
  }
/*563.36px / 16px = 35.21em*/
  @media(max-width:35.21em){
    html{}
}
  
  /* 448px / 16px = 28.75em */
  @media (max-width: 28em) {
    html {
      
    }
  }
  
ul{
    list-style-type: none;
    margin: 0px 0px;
    padding: 0 0;
}
li{margin: 0 0;}
a{
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}
h1, h2{
    line-height: 1.2;
}
.h3{
    color: #667b8e;
}
p{
    margin: 10px 0;
    
}
img{
    margin: 0 0;
    width: 100%;
}
button{cursor: pointer;}